/* for small mobile devices */
@media screen and (max-width: 576px) {
    .nav-container{
        flex-direction: column;
    }

    .nav-container h1{
        text-align: center;

    }

    .navbar-item-list{
        flex-direction: column;
    }
    
    .navbar-item-list a{
        margin-top: 20px;
    }

    .logo-container{
        width: 100%;
        margin-top: 20px;
    }

    .banner-container{
        flex-direction: column-reverse;
    }

    .banner-info, .banner-image{
        width: 100%;
        margin-top: 20px;

    }

    .games-banner{
        flex-direction: column;
    }

    .games-info .funny{
        font-size: 35px;
    }

}

/* for medium mobile devices and tablets */
@media screen and (min-width: 576px) and (max-width: 960px) {
    .nav-container{
        flex-direction: column;
    }

    .nav-container h1{
        text-align: center;

    }

    .navbar-item-list{
        flex-direction: column;
    }
    
    .navbar-item-list a{
        margin-top: 20px;
    }

    .logo-container{
        width: 100%;
        margin-top: 20px;
    }

    .banner-container{
        flex-direction: column-reverse;
    }

    .banner-info, .banner-image{
        width: 100%;
        margin-top: 20px;
    }

    .games-banner{
        flex-direction: column;
    }

}