/* for small mobile devices */
@media screen and (max-width: 576px) {
    .nav-container{
        flex-direction: column;
    }

    .logo-container{
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    .nav-container h1{
        text-align: center;
    }

    .navbar-item-list{
        flex-direction: column;

    }
    
    .navbar-item-list a{
        margin-top: 20px;
    }


    .banner-container{
        flex-direction: column-reverse;
    }

    .banner-info, .banner-image{
        width: 100%;
        margin-top: 20px 0; 

    }

    .games-banner{
       grid-template-columns: 1fr;
    }

    .container{
        padding: 0 20px;
    }


    .games-info .funny{
        font-size: 35px;
    }

    .image-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 40px;
        margin-bottom: 40px;
     }

     .socials-link{
        margin: 15px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
     }

     .footer-container >ul{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
     }

     .our-policy{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
     }

     .play-instantly-content
     {
         max-width: 100%;
         text-align: center;
     }

     .play-instantly-container{
        flex-direction: column;
        gap: 50px;
    }

    .play-people-image{
        max-width: calc(100% - 100px);
        margin-left: 80px;
    }

    .play-instantly-content{
        display: block;
        text-align: center; 
        width: auto; 
        margin-top: 0px; 
        margin: 0 auto;
    }

    .play-instantly-content .play-text{
        text-align: center;

    }

    .play-instantly-content .play4{
        margin: 10px 0;
    }

    .play-people-image2 {
        max-width: 200px;
        top: -150px;
        left: -54px;
    }
}

/* for medium mobile devices and tablets */
@media screen and (min-width: 576px) and (max-width: 960px) {
    .nav-container{
        flex-direction: column;
    }

    .logo-container{
        margin: 0 auto;
        width: 50%;
        text-align: center;
    }

    .nav-container h1{
        text-align: center;
    }

    .navbar-item-list{
        flex-direction: column;
    }
    
    .navbar-item-list a{
        margin-top: 20px;
    }


    .banner-container{
        flex-direction: column-reverse;
    }

    .banner-info, .banner-image{
        width: 100%;
        margin-top: 20px;
    }

    .container{
        padding: 0 50px;
    }

    .games-banner{
        grid-template-columns: 1fr;

    }

    .image-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 40px;
        margin-bottom: 40px;
     }

     .socials-link{
        margin: 15px 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
     }

     .footer-container >ul{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
     }

     .our-policy{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
     }

     .play-instantly-content
     {
         max-width: 100%;
         text-align: center;
     }

     .play-instantly-container{
        flex-direction: column;
        gap: 50px;
    }

    .play-people-image{
        max-width: calc(100% - 100px);
        margin-left: 80px;
    }

    .play-instantly-content{
        display: block;
        text-align: center; 
        width: auto; 
        margin-top: 0px; 
        margin: 0 auto;
    }

    .play-instantly-content .play-text{
        text-align: center;

    }

    .play-instantly-content .play4{
        margin: 10px 0;
    }

    .play-people-image2 {
        max-width: 200px;
        top: -150px;
        left: -54px;
    }
}