/* shared styles */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* navbar section started */
header{
    background: #fff;
    width: 100%;
}


/* nav {
  justify-content: space-between;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
} */

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100px;
  max-width: 1900px;
  margin: 0 auto;
  padding: 35px 0px;
}

.logo-container {
  display: flex;
  gap: 20px;
}

.logo-container img {
  object-fit: cover;
  margin-left: 180px;
  width: 60px;
}

.logo-container h1{
color: #0B0223;
font-size: 25px;
font-weight: 700;
}

.logo-title{
    color: #FF42A5; 

}

.navbar-item-list{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.navbar-item-list a {
color: #3C354F;
text-align: center;
font-size: 18px;
font-weight: 500;
gap: 32px;
text-decoration: none;
}

.follow-icon{
border-radius: 8px;
background-color: rgba(11, 2, 35, 0.10);
padding: 15px 25px;
}

/* navbar section finished */

.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto 0;
    padding: 10px 15px;
    max-width: 1900px;
    min-height: 100px;
    background-color:linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
}

.banner-image{
    width: 50%;
}

.banner-image img{
    width: 100%;
    object-fit: cover;
}

.banner-info{
    width: 50%;
    text-align: center;
    margin: 20px 0;
}

.banner-info h3{
color: #0B0223;
text-align: center;
font-size: 40px;
font-weight: 600;
text-transform: uppercase;

}

.banner-info h2{
text-align: center;
font-size: 75px;
font-weight: 800;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.banner-info h1{
color: #534C64;
text-align: center;
font-size: 20px;
font-weight: 500;
text-transform: lowercase;
}

.banner-info h4{
color: #534C64;
font-size: 20px;
font-weight: 500;
}

.banner-info h5{
color: #534C64;
font-size: 20px;
font-weight: 500;
}

.btn-primary{
padding: 21px 40px;
gap: 10px;
border-radius: 48px;
color: #FFF;
border: none;
background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
margin: 20px 0;
text-transform: uppercase;
}

.btn-secondary{
padding: 21px 40px;
gap: 10px;
border-radius: 48px;
background: #4EC5F7;
color: #FFF;
border: none;
text-transform: uppercase;
}

/* banner section finished */

/* online games video section start */

.games-video-section{
    background: #FFF;
    margin: 20px 0;
}

.games-info{
    margin: 20px 0;
}

.games-info h3{
color: #0B0223;
text-align: center;
font-size: 48px;
font-weight: 700;
}

.games-info .funny{
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 48px;
font-weight: 700;
}

.games-info p{
color: #534C64;
text-align: center;
font-size: 18px;
font-weight: 400;
margin: 20px 0;
}

.games-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.games-icon{
    width: 50%;
}

.games-icon h3{
text-align: center;
font-size: 20px;
font-weight: 600;
background:linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.games-icon img{
    width: 100%;
    margin: 20px 0;
}

.games-icon:hover:nth-child(3){
    position: relative;
    transition: 3s ease-in-out;
    background-color: black;
    box-shadow: black;
}

.games-icon p{
color: #534C64;
font-family: Work Sans;
font-size: 20px;
font-weight: 500;
}

/*  online games video section finish */

/* play people section */

.play-instantly-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 150px;
    width: 100%;
}

.play-instantly-content{
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    text-align: right;
    width: 45%;
    margin: 50px 0;
    gap: 25px;
}

.play-instantly-content .play-text{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    text-align: right;
    font-size: 28px;
    font-weight: 700;
}

.play-instantly-content .play-text2{
color: #0B0223;
font-size: 28px;
font-weight: 700;
text-align: right;
}

.play-instantly-content .play-text3{
    color: #0B0223;
    font-size: 28px;
    font-weight: 700;
    text-align: right;
    }

.play-instantly-content .play4{
color: #534C64;
text-align: right;
font-size: 15px;
font-weight: 400;
}

.play-instantly-content p{
    width: 330px;
    margin-left: auto;
}

.play-people-image{
    max-width: 50%;
}

.play-people-image > img{
    width: 100%;
}

.play-people-image2{
    width: 5%;
    position: relative;
    left: -700px;
    bottom: -160px;
}
/* play people section finish */

/* games info section start */

.games-info2:hover{
  display: grid;
  grid-template-columns: auto;
  border-radius: 20px;
  border: 2px solid #FF42A5;
  color: #FF42A5;
  padding: 5px;
}

.image-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 2px solid red;
    margin: 20px 0;
}

/* games info section finish */

/* footer section start */

.footer{
    width: 100%;
    background-color: #0B0223;
    padding: 100px 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    color: #FFF;
}

.footer-logo{
    display: flex;
    align-items: center;
}
.footer-container .footer-logo{
    justify-content: center;
    margin-bottom: 60px;
}

.footer-container .logo-title-footer{
    color: #FFF;
}

.footer-container >ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    margin-bottom: 55px;
    flex-wrap: wrap;
}

.footer-container li{
    list-style: none;
}

.footer-container li a{
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}

.socials-link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.socials-link a i{
    padding: 5px;
}

.socials-link a:hover .fa-facebook{
    color: #1873eb;
    background-color: #FFF;
    border-radius: 10px;
}

.socials-link a:hover .fa-youtube{
   color: #f70000;
   background-color: #FFF;
    border-radius: 10px;
}

.social-link a:hover .fa-twitter{
    color: #00acee;
    background-color: #FFF;
    border-radius: 10px;
}

.social-link a:hover .fa-instagram {
   color: #EF3845;
   background-color: #FFF;
    border-radius: 10px;
}
.social-link a:hover .fa-linkedin-in{
    color: #0960BD;
    background-color: #FFF;
    border-radius: 10px;
}

.social-link a:hover .fa-apple {
   color: #1D84DE;
   background-color: #FFF;
    border-radius: 10px;
}

.our-policy{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.our-policy a{
color: rgba(255, 255, 255, 0.60);
text-decoration: none;
}

.footer-container .small{
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
}

/* footer section finish */
  
 

